@import "../node_modules/bootstrap/scss/bootstrap";

body{
    background-image: url(../assets/pizza-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10% auto 0px;
}